name : CI Pipeline
on : [push, pull_request]
jobs :
  build :
    runs-on : ubuntu-latest
    steps :
      - name : Vérifier le code
        uses : actions/checkout@v4
      
      - name : Configurer Python
        uses : actions/setup-python@v4
        with :
          python-version : '3.11'
      
      - name : Installer les dépendances backend
        run : |
          python -m pip install --upgrade pip
          pip install -r backend/requirements.txt

      - name : build et run Docker Compose
        run : |
          docker-compose -f docker-compose.yml up --build -d

  